/*
 * NAVBAR
 */
nav {
  height: 6rem;
  border-bottom: 1px solid black;
}

#nav-items {
  position: relative;
  height: inherit;
  display: flex;
  font-family: 'Raleway', sans-serif;
  align-content: center;
  justify-content: space-between;
  width: 95%;
  margin: auto;
}

/*
 * LOGO
 */
#nav-items > h1 {
  font-size: 400%;
  font-weight: 500;
}

.navbar-brand {
  position: relative;
}

.navbar-menu {
  display: inline-flex;
  justify-content: flex-end;
  float: right;
}
